<div class="container-fluid pt-3">
  <div class="row">
      <div class="col-8" [ngStyle]="{'display': item ? 'block' : 'none'}">
        <div class="d-flex justify-content-sm-between">
          <div class="col-8" [ngStyle]="{'display': !edit ? 'block' : 'none'}">
            <h3>{{ item?.name }}</h3>
            <p>{{ item?.content }}</p>
          </div>
          <div class="col-8" [ngStyle]="{'display': edit ? 'block' : 'none'}">
            <form (ngSubmit)="onSubmit(f, item.id)" #f="ngForm">
              <p> Name:</p>
              <input type="text" name="name" ngModel [value]=" item?.name " class="form-control mb-1" required maxlength="16">
              <p>Content: </p>
              <textarea type="text" name="content" ngModel value="{{ item?.content }}" class="form-control mb-1" required maxlength="160"></textarea>
              <button
                type="submit"
                class="btn btn-dark btn-block"  >Save</button>
            </form>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-secondary btn-block" (click)="edit = !edit;">Edit</button>
          </div>
        </div>
        <hr>
        <div class="container pt-3 pb-3" *ngIf="item?.comments.length > 0" style="background-color: aliceblue">
          <h5>comments:</h5>
          <hr>
          <div class="card mb-1"  *ngFor="let comment of item.comments_item">
            <div class="card-body">
              <h5 class="card-title">Author: {{ comment?.author}}</h5>
              <p class="card-text" style="font-size: 10px; color: rgba(0,0,0,0.64);">{{   comment?.created_at | date  }}</p>
              <p class="card-text">{{ comment?.content }}</p>
            </div>
          </div>
        </div>
        <hr>
        <app-comment-create [id] = "item?.id"></app-comment-create>
      </div>
    <div class="col-4">
      <app-list></app-list>
    </div>
  </div>
</div>
