<h5>Add comment:</h5>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label class="col-12">
      <p>Author</p>
      <input
        type="text"
        name="author"
        class="form-control"
        required
        #name = "ngModel"
        minlength="3"
        maxlength="16"
        ngModel>
    </label>
  </div>
  <div class="form-group">
    <label class="col-12">
      <p>Comment</p>
      <textarea
        type="text"
        name="content"
        class="form-control"
        required
        minlength="5"
        maxlength="160"
        ngModel></textarea>
    </label>
  </div>
  <button class="btn btn-primary btn-block" type="submit">Comment</button>
</form>
